### Pandas series 
A pandas series is like a column in a table. It is a 1-D array holding data of any type

In [2]:
# IMPORTING PANDAS
import numpy as np
import pandas as pd

In [3]:
# SERIES FROM LISTS

In [4]:
#stings
country = ['India','Pakistan','USA','Nepal','Australia']
pd.Series(country)

0        India
1     Pakistan
2          USA
3        Nepal
4    Australia
dtype: object

In [5]:
# Integers
runs = [31,24,56,78,100]
pd.Series(runs).index.dtype

dtype('int64')

In [6]:
# custom index
marks=[67,57,89,100]
subjects = ['sst','hindi','science','maths']

marksinschool=pd.Series(marks,index=subjects,name="mere marks")
marksinschool

sst         67
hindi       57
science     89
maths      100
Name: mere marks, dtype: int64

## Series Attributes

In [7]:
# size 
marksinschool.size

4

In [8]:
#dtype
marksinschool.dtype

dtype('int64')

In [9]:
#name
marksinschool.name

'mere marks'

In [10]:
#is_unique 
marksinschool.is_unique
pd.Series([1,1,2,3,4,56,7]).is_unique

False

In [11]:
# index
marksinschool.index

Index(['sst', 'hindi', 'science', 'maths'], dtype='object')

In [12]:
#values
type(marksinschool.values)

numpy.ndarray

## Series using read_csv

In [13]:
# with one col
subs = pd.read_csv('./datasets/session16/subs.csv').squeeze("columns")
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [20]:
# with 2 cols
vk = pd.read_csv('./datasets/session16/kohli_ipl.csv',index_col='match_no').squeeze('columns')

In [15]:
movie_data = pd.read_csv('./datasets/session16/bollywood.csv',index_col='movie').squeeze('columns')

## Series methods

In [25]:
# head and tail
movie_data.head(1)
vk.head(3)
vk.tail(10)

match_no
206     0
207     0
208     9
209    58
210    30
211     0
212    20
213    73
214    25
215     7
Name: runs, dtype: int64

In [32]:
#sample
movie_data.sample(5)

movie
Genius (2018 Hindi film)      Utkarsh Sharma
Mumbai Delhi Mumbai             Shiv Panditt
Do Lafzon Ki Kahani (film)    Kajal Aggarwal
Ishqeria                        Manish Anand
Gangaajal                         Ajay Devgn
Name: lead, dtype: object

In [33]:
# value_counts -> movies
movie_data.value_counts()

lead
Akshay Kumar            48
Amitabh Bachchan        45
Ajay Devgn              38
Salman Khan             31
Sanjay Dutt             26
                        ..
Tanishaa Mukerji         1
Tanuja                   1
Ankit                    1
Rakhee Gulzar            1
Geetika Vidya Ohlyan     1
Name: count, Length: 566, dtype: int64

In [46]:
# sort_values -> inplace
vk1 = vk
vk1.sort_values()

match_no
8        0
87       0
93       0
91       0
206      0
      ...
164    100
120    100
123    108
126    109
128    113
Name: runs, Length: 215, dtype: int64

In [47]:
# sort_index -> inplace -> movies
movie_data.sort_index()

movie
1920 (film)                   Rajniesh Duggall
1920: London                     Sharman Joshi
1920: The Evil Returns             Vicky Ahuja
1971 (2007 film)                Manoj Bajpayee
2 States (2014 film)              Arjun Kapoor
                                   ...
Zindagi 50-50                      Veena Malik
Zindagi Na Milegi Dobara        Hrithik Roshan
Zindagi Tere Naam           Mithun Chakraborty
Zokkomon                       Darsheel Safary
Zor Lagaa Ke...Haiya!            Meghan Jadhav
Name: lead, Length: 1500, dtype: object

## Series Maths Methods

In [49]:
# count
vk.count()

np.int64(215)

In [59]:
# sum -> product
subs.sum()

np.int64(49510)

In [71]:
# mean -> median  -> mode -> std -> var
print(subs.mean())
print(vk.median())
print(movie_data.mode())
print(subs.std())
print(subs.var())

135.64383561643837
24.0
0    Akshay Kumar
Name: lead, dtype: object
62.6750230372527
3928.1585127201565

In [73]:
# min/max
subs.max()

np.int64(396)

In [75]:
#describe
vk.describe()

count    215.000000
mean      30.855814
std       26.229801
min        0.000000
25%        9.000000
50%       24.000000
75%       48.000000
max      113.000000
Name: runs, dtype: float64

## Series Indexing

In [ ]:
# integer indexing
x = pd.Series([1,2,4,5,6,7,813,1423,346,4767,34])
x[-1]

In [ ]:
# negative indexing
x[-1]

In [ ]:
movie_data[-1]
vk[-1]

In [109]:
marksinschool[0]

C:\Users\hp\AppData\Local\Temp\ipykernel_19800\430071320.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  marksinschool[0]

np.int64(67)

In [115]:
# slicing
vk[4:15]

match_no
5      1
6      9
7     34
8      0
9     21
10     3
11    10
12    38
13     3
14    11
15    50
Name: runs, dtype: int64

In [116]:
# negative slicing
vk[-5:]

match_no
211     0
212    20
213    73
214    25
215     7
Name: runs, dtype: int64

In [117]:
# fancy indexing
vk[[1,3,4,5]]

match_no
1     1
3    13
4    12
5     1
Name: runs, dtype: int64

In [121]:
# indexing with labels -> fancy indexing
movie_data['Uri: The Surgical Strike']

'Vicky Kaushal'

## Editing Series

In [125]:
# using indexing 
marksinschool[1]=90
marksinschool

C:\Users\hp\AppData\Local\Temp\ipykernel_19800\1952351525.py:2: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  marksinschool[1]=90

sst         67
hindi       90
science     89
maths      100
Name: mere marks, dtype: int64

In [ ]:
# what if an index does not exist
marksinschool['Physics'] = 90
marksinschool

sst         67
hindi       90
science     89
maths      100
Physics     90
Name: mere marks, dtype: int64