### Pandas series 
A pandas series is like a column in a table. It is a 1-D array holding data of any type

In [2]:
# IMPORTING PANDAS
import numpy as np
import pandas as pd

In [3]:
# SERIES FROM LISTS

In [4]:
#stings
country = ['India','Pakistan','USA','Nepal','Australia']
pd.Series(country)

0        India
1     Pakistan
2          USA
3        Nepal
4    Australia
dtype: object

In [16]:
# Integers
runs = [31,24,56,78,100]
pd.Series(runs).index.dtype

dtype('int64')

In [6]:
# custom index
marks=[67,57,89,100]
subjects = ['sst','hindi','science','maths']

marksinschool=pd.Series(marks,index=subjects,name="mere marks")
marksinschool

sst         67
hindi       57
science     89
maths      100
Name: mere marks, dtype: int64

## Series Attributes

In [8]:
# size 
marksinschool.size

4

In [10]:
#dtype
marksinschool.dtype

dtype('int64')

In [11]:
#name
marksinschool.name

'mere marks'

In [13]:
#is_unique 
marksinschool.is_unique
pd.Series([1,1,2,3,4,56,7]).is_unique

False

In [14]:
# index
marksinschool.index

Index(['sst', 'hindi', 'science', 'maths'], dtype='object')

In [18]:
#values
type(marksinschool.values)

numpy.ndarray

## Series using read_csv

In [30]:
# with one col
subs = pd.read_csv('./datasets/session16/subs.csv').squeeze("columns")
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [ ]:
# with 2 cols
nk = pd.read_csv('./datasets/session16/kohli_ipl.csv',index_col='match_no').squeeze('columns')

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [33]:
pd.read_csv('./datasets/session16/bollywood.csv',index_col='movie').squeeze('columns')

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

## Series methods

In [21]:
# head and tail

In [22]:
#sample